<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Megna's APP</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newsession">Create New Session</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stop">Stop Recording</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listarchives">List Archives</a>
      </li>
    </ul>
</nav>